@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #444;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.6;
	margin: 40px auto;
	max-width: 768px;
	padding: 0 10px;
  text-align: center;
  background-color: #1C1B19;
}

h1, h2, h3 {
	line-height: 1.2;
}

